**<h1><font color='HotPink'>Loading a CSV file into a MariaDb</font></h1>**

### **Load data into an SQL database, list the database and the SQL or batch command used to load it.**

### Step i: Create the four tables: <Travel, Report_Master, Expenses, & Category> with their relevant columns in <data_project database> and add Primary & Foreign Key constraints.

In [1]:
# import pymysql 
import pymysql 

#Create connection
conn=pymysql.connect(host='localhost', port=int(3306), user='root', passwd='root')

In [2]:
# Get version of database used.
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

try: 
    with conn.cursor() as cur:
       
        cur.execute('SELECT VERSION()')
        version = cur.fetchone()
     
        print(f'Database version: {version[0]}')
       
finally:
    conn.close()

Database version: 10.7.4-MariaDB

In [ ]:
#Create database for this project: data_project
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

# Create cursor object to excute query
cur = conn.cursor()
cur.execute("CREATE DATABASE data_project")
cur.close()

In [ ]:
# Check if database exists
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

cur = conn.cursor()
cur.execute("SHOW DATABASES")

for db in cur:
    print(db)

<font color='green'>**Create a new user and grant access to database:**<br> *User = **Bec** and Project Database name = **data_project*** </font>

In [ ]:
# Create user 'bec1'
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

cur = conn.cursor()
cur.execute("CREATE USER 'bec'@localhost IDENTIFIED BY 'password123' ")

cur.close()

In [ ]:
# Check users in database
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

cur = conn.cursor()
cur.execute("SELECT USER FROM mysql.user;")

for user in cur:
    print(user)

cur.close()

In [ ]:
# Grant privileges to user 'bec1' on data_project db
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

cur = conn.cursor()
cur.execute("GRANT ALL PRIVILEGES ON data_project.* TO 'bec'@localhost")

cur.close()

In [ ]:
# Flush Privileges on new user created
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

cur = conn.cursor()
cur.execute("FLUSH PRIVILEGES;")

cur.close()

In [ ]:
# Verify new user rights permissions
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='root', )

cur = conn.cursor()
cur.execute("SHOW GRANTS FOR 'bec'@localhost;")

for rights in cur:
    print(rights)

cur.close()

<font color='green'>**Create Table1:** *Database table **report_master** and Columns via PyMySQL*</font>

In [ ]:
#Create 'report_master' table and columns
import pymysql
conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')

cur = conn.cursor()
my_query = ('''
        CREATE TABLE report_master(
        ReportDataID VARCHAR(255) PRIMARY KEY,
        ReportingPeriodStartDate DATE,
        ReportingPeriodEndDate DATE)

    ''')   
cur.execute(my_query)
cur.close()

In [ ]:
#Verify table exists
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')

cur = conn.cursor()
cur.execute("SHOW TABLES")

for table in cur:
    print(table)

In [ ]:
# Check columns in table
import pymysql
conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')

cur = conn.cursor()

cur.execute("SHOW COLUMNS FROM report_master")
for column in cur.fetchall():
    print(column[0])

cur.close()

In [ ]:
# Check some column info in table
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')
cur = conn.cursor()

cur.execute("SELECT * FROM report_master")
print(cur.description)

cur.close()

<font color='green'>**Create Table2:** *Database table **travel** and Columns via PyMySQL*</font>

In [ ]:
#Create 'travel' table and columns
import pymysql
conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')

cur = conn.cursor()
my_query = ('''
        CREATE TABLE travel(
         Travel_ID INT AUTO_INCREMENT PRIMARY KEY,
         ReportDataID VARCHAR(255) ,
         StateOrTerritory VARCHAR(255),
         Homebase VARCHAR(255),
         Party VARCHAR(255),
         RoleType VARCHAR(255));
    ''')   
cur.execute(my_query)
cur.close()

In [ ]:
# Check some column info in table
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')
cur = conn.cursor()

cur.execute("SELECT * FROM travel")
print(cur.description)

cur.close()

In [ ]:
# Add foreign keys
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')
cur = conn.cursor()

my_query = (''' 
            ALTER TABLE travel ADD FOREIGN KEY(ReportDataID) REFERENCES report_master(ReportDataID)
    ''')

cur.execute(my_query)
cur.close()

In [ ]:
# Check columns in table
import pymysql
conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')

cur = conn.cursor()

cur.execute("SHOW COLUMNS FROM travel")
for column in cur.fetchall():
    print(column[0])

cur.close()

<font color='green'>**Create Table3:** *Database table **Category** and Columns via PyMySQL*</font>

In [ ]:
#Create 'Category' table and columns
import pymysql
conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')

cur = conn.cursor()
my_query = ('''
        CREATE TABLE category(
        Catgory_ID INT AUTO_INCREMENT PRIMARY KEY,
        HighLevelCategory VARCHAR(255) NOT NULL UNIQUE);
    ''')   
cur.execute(my_query)

# check table and columns created
cur.execute("SHOW COLUMNS FROM Category")
for column in cur.fetchall():
    print(column[0])

cur.close()

In [ ]:
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')
cur = conn.cursor()

cur.execute("SELECT * FROM category")
print(cur.description)

<font color='green'>**Create Table4:** *Database table **Expenses** and Columns via PyMySQL*</font>

In [ ]:
#Create 'Expenses' table and columns
import pymysql
conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')

cur = conn.cursor()
my_query = ('''
        CREATE TABLE Expenses(
        Expenses_ID INT AUTO_INCREMENT PRIMARY KEY,
        HighLevelCategory VARCHAR(255) NOT NULL UNIQUE,
        Description VARCHAR(255),
        Amount FLOAT,
        MajorSubCategory VARCHAR(255),
        MinorSubCategory VARCHAR(255),
        ReportDataID VARCHAR(255) NOT NULL UNIQUE);
    ''')   
cur.execute(my_query)

# check table and columns created
cur.execute("SHOW COLUMNS FROM Expenses")
for column in cur.fetchall():
    print(column[0])

cur.close()

In [ ]:
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')
cur = conn.cursor()

cur.execute("SELECT * FROM expenses")
print(cur.description)

In [ ]:
# Add foreign key in Expenses Table & Category
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')
cur = conn.cursor()

my_query = (''' 
            ALTER TABLE expenses 
            ADD FOREIGN KEY(HighLevelCategory)
            REFERENCES category(HighLevelCategory);
    ''')

cur.execute(my_query)
cur.close()

In [ ]:
# Add foreign key in Expenses Table & Report Master
import pymysql

conn = pymysql.connect(host='localhost', user='bec', passwd='password123', db='data_project')
cur = conn.cursor()

my_query = (''' 
            ALTER TABLE expenses 
            ADD FOREIGN KEY(ReportDataID)
            REFERENCES report_master(ReportDataID);
    ''')

cur.execute(my_query)
cur.close()

### Step ii: Inspect the dataset that's required to populate the tables and columns created in the database.

<font color='green'>**Inspect CSV data using PANDAS**</font>

In [4]:
# Setup filepath to access CSV files

#import pandas
import pandas as pd

urls = ("https://data.gov.au/data/dataset/63323fb8-8fb9-4ac5-b5f1-d55838a4a57d/resource/2eb0839c-d79d-41b1-a8f3-1cc26617a65c/download/2021q02_dataextract.csv", 
        "https://data.gov.au/data/dataset/63323fb8-8fb9-4ac5-b5f1-d55838a4a57d/resource/f60ab179-571a-42a9-9849-58161913fa9c/download/2021q02_dataextract_certifications.csv",
        "https://data.gov.au/data/dataset/63323fb8-8fb9-4ac5-b5f1-d55838a4a57d/resource/7fd9b931-55dc-4a18-9a7b-79229e4d1e50/download/2021q02_dataextract_officecosts.csv",
        "https://data.gov.au/data/dataset/63323fb8-8fb9-4ac5-b5f1-d55838a4a57d/resource/d0e83112-02ad-45ed-b9a1-a245b184ce70/download/2021q02_dataextract_adjustments.csv "
)
print(type(urls))

<class 'tuple'>

In [5]:
#import pandas
import pandas as pd

# Read CSV files into a DataFrame
csv1 = pd.read_csv(urls[0], low_memory=False)
csv2 = pd.read_csv(urls[1], low_memory=False)
csv3 = pd.read_csv(urls[2], low_memory=False)
csv4 = pd.read_csv(urls[3], low_memory=False)

csv_file = csv1, csv2, csv3, csv4

for data_type in csv_file:
    print(type(data_type))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
#Count number of columns and rows in each CSV file
csv1_raw = csv1.shape[1],csv1.shape[0]
csv2_raw = csv2.shape[1],csv2.shape[0]
csv3_raw = csv3.shape[1],csv3.shape[0]
csv4_raw = csv4.shape[1],csv4.shape[0]

csv_cols_rows = csv1_raw, csv2_raw, csv3_raw, csv4_raw

for cols_rows in csv_cols_rows:
   print(cols_rows)

(33, 29316)
(8, 240)
(7, 6)
(8, 23)

In [7]:
#Display the first five rows of all CSV files

raw_data_head =  (csv1, csv2, csv3, csv4)

for rdh in raw_data_head:
    print(rdh.head().to_string())

   ReportDataID ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate StateOrTerritory Homebase           FullNameWithTitle                       Party Surname FirstName         RoleType UserSurname UserFirstName  UserID         HighLevelCategory MajorSubCategory MinorSubCategory FromDate ToDate  NumberNights  NightlyRate                   Description FromLocation ToLocation  Amount  TripSequence  LegNumber Notes ReasonForTravel AnnotationSuperscript AnnotationText  TotalNumOfEmployeesTravelled
0       1320502          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              TAS   Hobart  Senator the Hon Eric Abetz  Liberal Party of Australia   Abetz      Eric  Parliamentarian       Abetz          Eric     NaN  Domestic Scheduled Fares            Fares              NaN      NaN    NaN           NaN          NaN     Hobart to Sydney 9 Mar 21       Hobart     Sydney  343.64          58.0        1.0   NaN             NaN                   NaN            NaN                           NaN
1       1320503          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              TAS   Hobart  Senator the Hon Eric Abetz  Liberal Party of Australia   Abetz      Eric  Parliamentarian       Abetz          Eric     NaN  Domestic Scheduled Fares            Fares              NaN      NaN    NaN           NaN          NaN    Sydney to Hobart 10 Mar 21       Sydney     Hobart     NaN          58.0        2.0   NaN             NaN                   NaN            NaN                           NaN
2       1320504          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              TAS   Hobart  Senator the Hon Eric Abetz  Liberal Party of Australia   Abetz      Eric  Parliamentarian       Abetz          Eric     NaN  Domestic Scheduled Fares            Fares              NaN      NaN    NaN           NaN          NaN  Canberra to Hobart 19 Mar 21     Canberra     Hobart  794.19          56.0        1.0   NaN             NaN                   NaN            NaN                           NaN
3       1320506          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              TAS   Hobart  Senator the Hon Eric Abetz  Liberal Party of Australia   Abetz      Eric  Parliamentarian       Abetz          Eric     NaN  Domestic Scheduled Fares            Fares              NaN      NaN    NaN           NaN          NaN    Hobart to Sydney 22 Mar 21       Hobart     Sydney  991.20          59.0        1.0   NaN             NaN                   NaN            NaN                           NaN
4       1320507          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              TAS   Hobart  Senator the Hon Eric Abetz  Liberal Party of Australia   Abetz      Eric  Parliamentarian       Abetz          Eric     NaN  Domestic Scheduled Fares            Fares              NaN      NaN    NaN           NaN          NaN  Sydney to Canberra 22 Mar 21       Sydney   Canberra     NaN          59.0        2.0   NaN             NaN                   NaN            NaN                           NaN
      Id ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate            FullNameWithTitle                   Role     Status
0  19001          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30       The Hon Tony Abbott AC  Former Prime Minister        NaN
1  19002          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   Senator the Hon Eric Abetz        Parliamentarian  Certified
2  19003          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30  The Hon Anthony Albanese MP        Parliamentarian  Certified
3  19004          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30     Mr John Alexander OAM MP        Parliamentarian  Certified
4  19005          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30            Dr Katie Allen MP        Parliamentarian  Certified
      Id ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate State     Amount
0  19002          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   NSW  553210.58
1  19003          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   QLD  383589.98
2  19004          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    SA  487153.37
3  19005          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   TAS    9592.20
4  19006          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   VIC  891179.07
      Id ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate                FullNameWithTitle                 Agency   Amount
0  19001          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30          Mr Russell Broadbent MP  Department of Finance   695.45
1  19002          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30        The Hon Scott Buchholz MP                   IPEA    79.36
2  19003          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30  Senator the Hon Matthew Canavan  Department of Finance   417.90
3  19004          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30                Mr Milton Dick MP  Department of Finance   489.41
4  19005          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30               Dr Helen Haines MP  Department of Finance  1636.36

In [8]:
#Display the last five rows of all CSV files

raw_data_tail = (csv1, csv2, csv3, csv4)

for rdt in raw_data_tail:
    print(rdt.tail().to_string())

       ReportDataID ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate StateOrTerritory Homebase    FullNameWithTitle Party Surname FirstName                                                       RoleType UserSurname UserFirstName  UserID   HighLevelCategory                             MajorSubCategory MinorSubCategory FromDate ToDate  NumberNights  NightlyRate                   Description FromLocation ToLocation  Amount  TripSequence  LegNumber Notes ReasonForTravel AnnotationSuperscript AnnotationText  TotalNumOfEmployeesTravelled
29311       1334963          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              NaN      NaN  Mrs Tamie Fraser AO   NaN  Fraser     Tamie  Surviving Spouse or De Facto Partner of Former Prime Minister      Fraser         Tamie     NaN  Telecommunications  Telecommunications - Residential - Official              NaN      NaN    NaN           NaN          NaN   Residential phones 9 Apr 21          NaN        NaN   31.79           NaN        NaN   NaN             NaN                   NaN            NaN                           NaN
29312       1334684          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              NaN      NaN  Mrs Tamie Fraser AO   NaN  Fraser     Tamie  Surviving Spouse or De Facto Partner of Former Prime Minister      Fraser         Tamie     NaN  Telecommunications  Telecommunications - Residential - Official              NaN      NaN    NaN           NaN          NaN   Residential phones 9 May 21          NaN        NaN   31.79           NaN        NaN   NaN             NaN                   NaN            NaN                           NaN
29313       1335854          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              NaN      NaN  Mrs Tamie Fraser AO   NaN  Fraser     Tamie  Surviving Spouse or De Facto Partner of Former Prime Minister      Fraser         Tamie     NaN  Telecommunications  Telecommunications - Residential - Official              NaN      NaN    NaN           NaN          NaN  Residential phones 9 Jun 21           NaN        NaN   31.79           NaN        NaN   NaN             NaN                   NaN            NaN                           NaN
29314       1340753          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              NaN      NaN    Lady Nancy Gorton   NaN  Gorton     Nancy  Surviving Spouse or De Facto Partner of Former Prime Minister      Gorton         Nancy     NaN  Telecommunications  Telecommunications - Residential - Official              NaN      NaN    NaN           NaN          NaN  Residential phones 17 Mar 21          NaN        NaN   40.00           NaN        NaN   NaN             NaN                   NaN            NaN                           NaN
29315       1334837          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30              NaN      NaN    Lady Nancy Gorton   NaN  Gorton     Nancy  Surviving Spouse or De Facto Partner of Former Prime Minister      Gorton         Nancy     NaN  Telecommunications  Telecommunications - Residential - Official              NaN      NaN    NaN           NaN          NaN  Residential phones 11 Jun 21          NaN        NaN   96.71           NaN        NaN   NaN             NaN                   NaN            NaN                           NaN
        Id ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate        FullNameWithTitle             Role     Status
235  19236          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    The Hon Jason Wood MP  Parliamentarian  Certified
236  19237          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30  The Hon Ken Wyatt AM MP  Parliamentarian  Certified
237  19238          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30        Mr Terry Young MP  Parliamentarian  Certified
238  19239          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30        Mr Tony Zappia MP  Parliamentarian  Certified
239  19240          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    Mr Trent Zimmerman MP  Parliamentarian  Certified
      Id ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate State     Amount
1  19003          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   QLD  383589.98
2  19004          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    SA  487153.37
3  19005          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   TAS    9592.20
4  19006          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30   VIC  891179.07
5  19007          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    WA  410117.56
       Id ReportIdentifier ReportingPeriod ReportingPeriodStartDate ReportingPeriodEndDate       FullNameWithTitle                 Agency  Amount
18  19019          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30     Mr James Stevens MP                   IPEA  197.08
19  19020          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    The Hon Dan Tehan MP  Department of Finance  418.13
20  19021          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    The Hon Dan Tehan MP                   IPEA  814.32
21  19022          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30  Ms Maria Vamvakinou MP                   IPEA  787.14
22  19023          2021Q02    Apr-Jun 2021               2021-04-01             2021-06-30    Mr Andrew Wallace MP  Department of Finance   20.99

In [9]:
#Inspect the DataFrames
raw_data_info =  (csv1, csv2, csv3, csv4)

for rdi in raw_data_info:
    rdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29316 entries, 0 to 29315
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ReportDataID                  29316 non-null  int64
 1   ReportIdentifier              29316 non-null  object
 2   ReportingPeriod               29316 non-null  object
 3   ReportingPeriodStartDate      29316 non-null  object
 4   ReportingPeriodEndDate        29316 non-null  object
 5   StateOrTerritory              29146 non-null  object
 6   Homebase                      29144 non-null  object
 7   FullNameWithTitle             29316 non-null  object
 8   Party                         29146 non-null  object
 9   Surname                       29316 non-null  object
 10  FirstName                     29316 non-null  object
 11  RoleType                      29316 non-null  object
 12  UserSurname                   29316 non-null  object
 13  UserFirstName                 29316 non-null  object
 14  UserID                        325 non-null    float64
 15  HighLevelCategory             29316 non-null  object
 16  MajorSubCategory              29082 non-null  object
 17  MinorSubCategory              26 non-null     object
 18  FromDate                      2133 non-null   object
 19  ToDate                        2133 non-null   object
 20  NumberNights                  2105 non-null   float64
 21  NightlyRate                   2105 non-null   float64
 22  Description                   29063 non-null  object
 23  FromLocation                  3889 non-null   object
 24  ToLocation                    6022 non-null   object
 25  Amount                        28857 non-null  float64
 26  TripSequence                  4213 non-null   float64
 27  LegNumber                     3636 non-null   float64
 28  Notes                         4 non-null      object
 29  ReasonForTravel               26 non-null     object
 30  AnnotationSuperscript         81 non-null     object
 31  AnnotationText                81 non-null     object
 32  TotalNumOfEmployeesTravelled  227 non-null    float64
dtypes: float64(7), int64(1), object(25)
memory usage: 7.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        240 non-null    int64
 1   ReportIdentifier          240 non-null    object
 2   ReportingPeriod           240 non-null    object
 3   ReportingPeriodStartDate  240 non-null    object
 4   ReportingPeriodEndDate    240 non-null    object
 5   FullNameWithTitle         240 non-null    object
 6   Role                      240 non-null    object
 7   Status                    232 non-null    object
dtypes: int64(1), object(7)
memory usage: 15.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        6 non-null      int64
 1   ReportIdentifier          6 non-null      object
 2   ReportingPeriod           6 non-null      object
 3   ReportingPeriodStartDate  6 non-null      object
 4   ReportingPeriodEndDate    6 non-null      object
 5   State                     6 non-null      object
 6   Amount                    6 non-null      float64
dtypes: float64(1), int64(1), object(5)
memory usage: 464.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        23 non-null     int64
 1   ReportIdentifier          23 non-null     object
 2   ReportingPeriod           23 non-null     object
 3   ReportingPeriodStartDate  23 non-null     object
 4   ReportingPeriodEndDate    23 non-null     object
 5   FullNameWithTitle         23 non-null     object
 6   Agency                    23 non-null     object
 7   Amount                    23 non-null     float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.6+ KB

In [10]:
#Display stats on dataframes

raw_data_stats =  (csv1, csv2, csv3, csv4)

for rds in raw_data_stats:
    print(rds.describe())

       ReportDataID      UserID  NumberNights  NightlyRate         Amount  \
count  2.931600e+04  325.000000   2105.000000  2105.000000   28857.000000
mean   1.342644e+06    1.424615      3.026128   323.211876    1192.251097
std    2.039760e+04    0.845108      2.577281    69.238887    6884.532390
min    1.305067e+06    1.000000     -1.000000    92.000000  -41711.320000
25%    1.329310e+06    1.000000      1.000000   291.000000      51.220000
50%    1.341098e+06    1.000000      2.000000   291.000000     154.540000
75%    1.356826e+06    2.000000      4.000000   383.000000     560.420000
max    1.378703e+06    5.000000     33.000000   577.000000  452372.660000

       TripSequence    LegNumber  TotalNumOfEmployeesTravelled
count   4213.000000  3636.000000                    227.000000
mean    1861.526466     1.095710                      5.766520
std     1076.292409     0.407189                      5.696073
min        1.000000     0.000000                      1.000000
25%      920.000000     1.000000                      3.000000
50%     1874.000000     1.000000                      4.000000
75%     2796.000000     1.000000                      6.000000
max     3702.000000     6.000000                     54.000000
                Id
count    240.00000
mean   19120.50000
std       69.42622
min    19001.00000
25%    19060.75000
50%    19120.50000
75%    19180.25000
max    19240.00000
                 Id         Amount
count      6.000000       6.000000
mean   19004.500000  455807.126667
std        1.870829  285106.773785
min    19002.000000    9592.200000
25%    19003.250000  390221.875000
50%    19004.500000  448635.465000
75%    19005.750000  536696.277500
max    19007.000000  891179.070000
                Id       Amount
count     23.00000    23.000000
mean   19012.00000   844.553478
std        6.78233  1312.390877
min    19001.00000    20.990000
25%    19006.50000   108.045000
50%    19012.00000   418.130000
75%    19017.50000   800.730000
max    19023.00000  5860.000000